<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 写入 自己 dao 里的接口名称-->
<mapper namespace="com.nsu.stu.meet.dao.AlbumMapper">

    <select id="selectAlbumListByUserId" resultType="com.nsu.stu.meet.model.dto.AlbumDto">
        SELECT
            a.*,
            COUNT(ap.album_id) as total
        FROM
            mt_album a
        Left JOIN
            mt_album_photo ap
                ON ap.album_id = a.album_id
        WHERE
            a.user_id = #{userId}
            AND a.is_deleted = ${NOT_DELETED}
        GROUP BY a.album_id
    </select>

    <select id="selectAlbumById" resultType="com.nsu.stu.meet.model.dto.AlbumDto">
        SELECT
        a.*,
        COUNT(ap.album_id) as total
        FROM
        mt_album a
        Left JOIN
        mt_album_photo ap
        ON ap.album_id = a.album_id
        WHERE
        a.album_id = #{albumId}
        AND a.is_deleted = ${NOT_DELETED}
    </select>

</mapper>