<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 写入 自己 dao 里的接口名称-->
<mapper namespace="com.nsu.stu.meet.dao.AlbumMapper">

    <select id="selectAlbumByUserId" resultType="com.nsu.stu.meet.model.Album">
        SELECT
            *
        FROM
            mt_album
        WHERE
            user_id = #{userId}

          AND is_deleted = #{NOT_DELETED}

          AND limit_id IN
            <foreach collection="limits" item="limit" open="(" close=")" separator=",">
                #{limit.limitId}
            </foreach>
    </select>
</mapper>