<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 写入 自己 dao 里的接口名称-->
<mapper namespace="com.nsu.stu.meet.dao.AlbumMapper">

    <select id="selectAlbumListByUserId" resultType="com.nsu.stu.meet.model.dto.AlbumDto">
        SELECT
            a.*,
            COUNT(ap.album_id) as total
        FROM
            mt_album a
        Left JOIN
            mt_album_photo ap
                ON ap.album_id = a.album_id
        WHERE
            a.user_id = #{userId}
            AND a.is_deleted = ${NOT_DELETED}
            <choose>
                <when test="limits.size > 0">
                    AND a.limit_id IN
                    <foreach collection="limits" item="limit" open="(" close=")" separator=",">
                        #{limit.limitId}
                    </foreach>
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        GROUP BY a.album_id
    </select>
    <select id="selectAlbumListWithNoLimit" resultType="com.nsu.stu.meet.model.dto.AlbumDto">
        SELECT
            a.*,
            COUNT(ap.album_id) as total
        FROM
            mt_album a
                Left JOIN
            mt_album_photo ap
            ON ap.album_id = a.album_id
        WHERE
            a.user_id = #{userId}
          AND a.is_deleted = ${NOT_DELETED}
        GROUP BY a.album_id
    </select>
</mapper>