<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.stu.meet.dao.ArticleHistoryMapper">

    <resultMap id="BaseResultMap" type="com.nsu.stu.meet.model.dto.ArticleHistoryDto">
            <id property="articleHistoryId" column="article_history_id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="BIGINT"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_history_id,article_id,user_id,
        gmt_create,gmt_modified,is_deleted
    </sql>
</mapper>
