<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 自定义Mapper,复杂的sql可以写在这里面,然后在Mapper里接口调用 -->
<mapper namespace="com.nsu.stu.meet.dao.UserMapper">
    <sql id="base">
        select user_id,nickname,mobile,password,gender,intro,birth from mt_user
    </sql>
    <select id="getNewestUser" resultType="com.nsu.stu.meet.model.User">
        <include refid="base" /> where gmt_create = (select max(gmt_create) from mt_user)
    </select>

</mapper>

